@font-face {
  font-family: 'hexa';
  src: url(../src/assets/fonts/Hexa.ttf);
}

.App {
  text-align: center;
}

.App-logo {
  position:absolute;
  height: 200%;
  width: 200%;
  pointer-events: none;
  opacity: 2%;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 180s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo-2{
  position: fixed;
  height: 150%;
  width: 150%;
  pointer-events: none;
  opacity: 1%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-2{
    animation: App-logo-2-spin infinite 120s linear;
  }
}

@keyframes App-logo-2-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/*-----Navbar CSS-----*/
#navBar {
  float:none;
  left: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  font-family: hexa;
}


#nav-logo {
  width: 10vw;
  border-radius: 50%;
  opacity: 80%;
}

#navBar ul {
  list-style-type: none;
  display:inline-flex;
  padding-top: 0px;
}

#navBar li {
  margin-left: 20px;
}
